* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

main , form {
  display: flex;
}

form {
  max-width: 675px;
  flex-direction: column;
}

aside #trybewarts-forms-logo {
  height: 500px;
}
