* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

main , form {
  display: flex;
}

form {
  width: 675px;
  flex-direction: column;
}

#info {
  display: flex;
  flex-wrap: wrap;
}

#info input {
  width: 40%;
}

aside #trybewarts-forms-logo {
  height: 500px;
}
